nav a:visited,  a:link {
color:#0d0d0e;
margin: 10px;
box-shadow: rgb(170, 18, 66);
font-size: 20px
}
nav a:hover  {
color: rgb(165, 154, 157);
background-color:#131313;
}
nav a.active {
  color: #039be5;
  border: 10%;
  margin: 10px;
}
.items {
  margin: 0 0 2rem 0;
  list-style-type:none ;
  padding-left: 0;
  padding: 5px 10px;
  background: border-box;
  border-radius: 4px;
  color: #aaa;
  cursor:pointer;
  cursor: hand;
}
.items :hover {
color: #039be5;
padding: 0 0;
}
.items .selected {
background-color: #48b3e1;
color: rgb(196, 25, 25);
}
button  {
margin: 10px 10px;
}
